@model HealthWatchNET.Controllers.ModulesController.TestItemModel
@{
    ViewBag.Title = "TestItem";
    Layout = "~/Views/Modules/ModuleLayout.cshtml";
}

<script>
    function clickall(toggle) {
        var code_arr = document.getElementsByName("tst_cd[]");

        var cnt = 0;
        for (var i = 0; i < code_arr.length; i++) {
            code_arr[i].checked = toggle;
        }
    }

    function unclickall() {
        var code_arr = document.getElementsByName("tst_cd[]");

        var cnt = 0;
        for (var i = 0; i < code_arr.length; i++) {
            code_arr[i].checked = false;
        }
    }

    function submitCheckAll() {
        var obj = document.getElementById("checkform");
        obj.action = "/Modules/AddTestItemByCode";
        obj.submit();
    }

    function loadMore() {
        location.href = "/Modules/TestItem?offset=@Model.next_offset"
    }
</script>

<table cellpadding="0" cellspacing="0" border="0" width="99.5%" class="cell_table">
<form id="checkform" method="post">
<tr class="cell_tr">
    <td class="cell_th" width="30">#</td>
    <td class="cell_th" width="30"><input type="checkbox" onclick="clickall(this.checked)" /></td>
    <td class="cell_th" width="80">검사코드</td>
    <td class="cell_th_rt">검사명</td>
</tr>
@{
    Dictionary<string, object> ret = new Dictionary<string, object>();
    int cnt = 0;
}
@while (Model.t.FetchTo(out ret) == true)
{
    cnt++;
<tr class="cell_tr">
    <td class="cell_td" width="30">@(cnt + Model.offset)</td>
    <td class="cell_td" width="30"><input type="checkbox" name="tst_cd[]" value="@ret["TST_CD"]" /></td>
    <td class="cell_td" width="80">@ret["TST_CD"]</td>
    <td class="cell_td"><a href="javascript:parent.addTestItemByCode('@ret["TST_CD"]')">@ret["TST_NAME"]</a></td>
</tr>
}
</form>
</table>

@if (Model.bMoreData == true)
{
<div align="center">
    <input type="button" value="1000건 더 보기" onclick="loadMore()" />
</div>
}